
.flavors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

.flavor {
    background-color: #ffccd5;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #6a040f;
}

.rating {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.content-sabores{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}