.popup{
    position: fixed;
    width: 200px;
    height:30px;
    left: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}



.error{background-color: red;}
.success{background-color: green;}
